## App Rating Forecasting

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv('Apps_data+(1).csv',usecols=['Rating','Reviews','Size','Installs'])

In [4]:
df.head(3)

   Rating Reviews  Size    Installs
0     4.1     159   19M     10,000+
1     3.9     967   14M    500,000+
2     4.7   87510  8.7M  5,000,000+

#### Creating the TARGET column and separating it as two classes

In [9]:
df['Target']=df['Rating'].astype('O')

In [11]:
df.loc[df['Rating']>=4,['Target']]='High'   # with logistic our positive class will always be 1 but when encoding this high will go 
df.loc[df['Rating']<4,['Target']]='Low'     # for 0 and low will go for 1 - so can mention here itself can mention '1high','olow'
df.drop(columns='Rating',inplace=True)     # so that high will be positive class

In [19]:
df['Reviews'].unique()
df['Reviews'].value_counts()

Reviews
0         596
1         272
2         214
3         175
4         137
         ...
342912      1
4272        1
5517        1
4057        1
398307      1
Name: count, Length: 6002, dtype: int64

In [16]:
# df['Reviews'].astype('int')    # invalid literal for int() with base 10: '3.0M' -- should clean as there is a string 
# which is not letting to convert should clean the data first

In [33]:
#df['Reviews'].replace('M','*1000000',regex=True).map(eval).astype('int')   # when used replace alone should change regex to true

In [27]:
df['Reviews']=df['Reviews'].str.replace('M','*1000000').map(eval).astype('int')

In [25]:
df[df['Installs']=='Free']  # the row itself is wrong row --

Empty DataFrame
Columns: [Reviews, Size, Installs, Target]
Index: []

In [24]:
df.loc[df['Installs']=='Free',['Installs']] = 'nan'  # when typed float(nan) this get to nan -- as converting the column to float taking this as nan

In [28]:
df.shape

(10841, 4)

In [29]:
df['Installs'] = df['Installs'].str.replace('+', '').str.replace(',', '').astype('float')
df.dropna(subset = 'Installs', inplace= True)
df.shape

(10840, 4)

In [30]:
# one row is been removed

In [ ]:
# WHY REGEX TRUE
# IF U WANT TO FIND A PATTERN IN A ROW (INFORMATION IS VIJAY@GMAIL.COM) -- 
# HERE WANT TO TAKE ONLY THE EMAIL ALONE HERE WILL GIVE THE REGEX PATTERN AND FOR THAT NEED TO USE REGEX TREU

In [49]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

In [46]:
# logistcregressioncv will (CV)- cross validation   # cs and l1 ratio changes and train test split

In [42]:
df.isnull().sum()

Reviews        0
Size           0
Installs       0
Target      1474
dtype: int64

In [44]:
df.dropna(inplace=True)

In [45]:
le=LabelEncoder()

In [47]:
df['Target']=le.fit_transform(df['Target'])

In [48]:
y=df['Target']
x=df.drop(columns='Target')

In [56]:
x.drop(columns='Size',inplace=True)

In [51]:
y.value_counts()   # its a imbalanced dataset  so will not accept the score

Target
0    7368
1    1998
Name: count, dtype: int64

In [52]:
model1=LogisticRegression()

In [57]:
model1.fit(x,y)
model1.score(x,y)

0.7869955156950673

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=555,stratify=y)  # stratify=y so that we get equal amount of class in train and test 
model1.fit(xtrain,ytrain)
model1.score(xtest,ytest)

0.7856532877882152

In [63]:
print(confusion_matrix(ytest,model1.predict(xtest)))
print(classification_report(ytest,model1.predict(xtest)))

[[1805    6]
 [ 523    8]]
              precision    recall  f1-score   support

           0       0.78      1.00      0.87      1811
           1       0.57      0.02      0.03       531

    accuracy                           0.77      2342
   macro avg       0.67      0.51      0.45      2342
weighted avg       0.73      0.77      0.68      2342

In [ ]:
# depending upon the project should decide which cl

In [ ]:
# sir uses f1 score- ..?

In [ ]:
# poor f1 score in 1 class - showing that the model cannot predict the a app whether it can will get low rating or not 
# for f1 score in 0 class  - though the f1 score is high the dataset is imbalanced so cannot trust themodel

In [ ]:
# whenever to reduce fp = will go for precision
# whenever to reduce fn = will go for recall

In [ ]:
# in medical will look to reduce the FN -- AS we don't want someone having discease to show there is no disease for them